:root {
    /* Colors */
    --col-primary: #7ed957;
    --col-secondary: #E99EAA;
    --col-light-grey: #545454;
    
    /* Font Size */
    --fs-paragraph: 1.875rem;
    --fs-header-3: 2.25rem;
    --fs-header-2: 3rem;
    --fs-header-1: 4.5rem;
    
    /* Small Screens Font Size */
    --fs-sm-paragraph: 1.875rem;

    /* Font Weight */
    --fw-light: 500;
    --fw-bold: 600;

}

a {
    text-decoration: none;
}

html {
    font-size: 11px;
}

html, body, h1, h2{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-paragraph);
    height: 200px;
    border-top: solid 2px var(--col-primary);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
}

ul {
    list-style: none;
    padding: 0;
}

.about-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-top: 80px;
}
.about-section h2 {
    font-size: var(--fs-header-3);
    text-align: left;
    line-height: 1.7;
    width: 70%;
    margin: 20px 0 40px;
}
.about-section p {
    font-size: var(--fs-paragraph);
    text-align: justify;
    line-height: 1.9;
    max-width: 900px;
    margin: 0 auto;
}


.contact-section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.contact-section a {
    font-size: var(--fs-paragraph);
    font-weight: var(--fw-bold);
    color: var(--col-secondary);
}
.contact-section button {
    font-size: var(--fs-paragraph);
    font-family: 900;
    padding: 16px 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--col-primary);
    color: white;
}
.contact-section h2 {
    font-size: var(--fs-header-3);
    margin-top: 40px;
}
.contact-section h3 {
    font-size: var(--fs-header-3);
}

.contact-section img {
    height: 600px;
}
.contact-section p {
    font-size: var(--fs-paragraph);
}
.contact-section .socials {
    display: flex;
    gap: 10px;
    margin-bottom: 26px;
}

.container {
    width: 80%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--col-primary);
}

.hero-section .container{
    width: 70%;
}
.hero-section .graphic {
    position: absolute  ;
    top: 0;
    left: 0;
    width: 10%;
    height: 100vh;
    border-radius: 0 50% 50% 0;
    background-color: var(--col-secondary);
}
.hero-section h1 {
    font-size: var(--fs-header-2);
    font-weight: var(--fw-light);
    margin: 0;
}
.hero-section h2 {
    font-size: var(--fs-header-1);
    margin: 0;
    margin-bottom: 25px;
}
.hero-section p {
    font-size: var(--fs-paragraph);
    line-height: 1.7;
    color: var(--col-light-grey);
}

.projects-section{
    height: auto;
}

.projects-section li{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 0 80px;
    width: 100%;
    margin-bottom: 100px;
}
.projects-section img {
    height: 300px;
    aspect-ratio: 16 / 9;
    grid-row: span 2;
}
.projects-section h2 {
    font-size: var(--fs-header-3);
}
.projects-section p {
    font-size: var(--fs-paragraph);
    text-align: justify;
    line-height: 1.9;
}
.projects-section ul {
    margin: 80px auto 20px auto;
}

.resume-section a {
    color: var(--col-secondary);
}
.resume-section h2 {
    position: relative;
    font-size: var(--fs-header-3);
}
.resume-section h2 div {
    position: absolute;
    left: 0%;
    transform: translate(-4px);
    aspect-ratio: 1;
    height: 100%;
    border-radius: 50%;
    background-color: var(--col-secondary);
}
.resume-section .link-text {
    text-align: center;
}
.resume-section p {
    font-size: var(--fs-paragraph);
}

.section-header {
    font-size: var(--fs-header-1);
    width: fit-content;
    border-bottom: solid 5px var(--col-secondary);
}

.span-text-primary{
    color: var(--col-primary);
}
.span-text-secondary{
    color: var(--col-secondary);
}

@media (max-width: 768px) {
    html {
        font-size: 7px;
    }

    .projects-section img{
        aspect-ratio: 16 / 9;
        width: 100%;
        margin-bottom: 10px;
    }
    .projects-section li{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-gap: 0 40px;
        width: 100%;
        margin-bottom: 20px;
    }
    .projects-section p {
        text-align: left;
        line-height: 1.4;
    }
    .projects-section ul {
        margin: 40px auto 20px auto;
    }

    .resume-section h2 div {
        /* display: none; */
    }
}

@media (max-width: 1200px) {
    .about-section .content {
        margin-top: 0px;
        height: fit-content;
    }
    .about-section h2 {
        width: 100%;
    }

    .contact-section .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .contact-section img {
        max-height: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 9px;
    }

    .projects-section {
        margin-top: 40px;
    }
    
    .projects-section img{
        max-width: 400px;
        margin-bottom: 10px;
    }    
    .projects-section li{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 0 20px;
        margin-bottom: 20px;
    }
}